:root{
    --fundo:#8B0000;
    --cartao-frente:#696969;
    --cartao-verso:#1C1C1C;
    --destaque:#FF6347;
    --preto:#000000;
    --branco:#ffffff;
}
body{
    background-color: var(--fundo);
}
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    color: var(--branco);
    text-align: center;
    background-color: var(--preto);

}
#container{
    margin: 4rem;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
}